/* #region common */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --dark: #000000;
    --light: #fefffe;
    --primary: #151822;
    --secondary: #292928;
    --tertiary: #a2a3a2;
    --special: #adff2f;
    --shadow: #00000066;
    /* Font_Family */
    --ff: 'Circular Std', sans-serif;
}

body {
    font-family: var(--ff);
}

img {
    max-width: 100%;
}

/* #endregion common */

/* #region debug */
.debug #player,
.debug #app_footer .row {
    height: 100%;
}

.debug [class^="col_"] {
    height: 100%;
    border: 1px dashed white;
}

.debug #main_container [class^="col_"] {
    height: 250px;
    border: 1px dashed black;
}

.debug [class^="side_"] {
    border: 1px dashed white;
    color: white;
}

.debug #labels {
    background-color: palegreen;
    border: 1px solid white;
}

.debug #played {
    background-color: palegoldenrod;
    border: 1px solid white;
}

.debug #personal {
    background-color: paleturquoise;
    border: 1px solid white;
}

.debug #popular {
    background-color: palevioletred;
    border: 1px solid white;
}

.debug .banner {
    background-color: beige;
    height: 90px;
}
/* #endregion debug */

/* #region utilities */

.row {
    width: 100%;
    display: flex;
}

.col_4 {
    width: calc(100% / 12 * 4);
}

.col_6 {
    width: calc(100% / 12 * 6);
}

.col_12 {
    width: 100%;
}

.visibility_none {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.list_unstyled {
    list-style: none;
}

.text_sm {
    font-size: 1rem;
}
.text_md {
    font-size: 1.5rem;
}
.text_lg {
    font-size: 2rem;
}

.btn {
    border: none;
}

.transparent_btn {
    background-color: transparent;
    
    color: var(--light);
    
    border: 1px solid var(--light);
    border-radius: 1rem;
    
    padding: .5rem 1.5rem;
}

.tertiary_btn {
    background-color: var(--tertiary);
    
    color: var(--dark);

    width: 2rem;
    aspect-ratio: 1 / 1;
    
    font-size: 1.5rem;
}

.color_light {
    color: var(--light);
}

.color_tertiary {
    color: var(--tertiary);
}

/* #endregion utilities */

/* #region main */

#app_main {
    background-color: var(--primary);
}

#sidebar {
    background-color: var(--dark);
}

#app_footer {
    background-color: var(--secondary);
}

/* #region app_main */

#app_main {
    height: calc(100vh - 100px);
    display: flex;
    position: relative;
}

#app_main .row {
    flex-wrap: wrap;
}

#app_main .banner {
    width: calc(100% - .8rem);
    position: sticky;
    top: 0;
    right: .8rem;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-color: var(--shadow);
    padding: 2rem .5rem;
}
/* #region sidebar */

#sidebar {
    height: 100%;
    width: 60px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#sidebar .side_top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#sidebar .side_bottom {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#sidebar .side_top ul,
#sidebar .side_bottom ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#sidebar .side_top li,
#sidebar .side_middle li,
#sidebar .side_bottom li
{
    padding-top: .25rem;
    padding-bottom: .25rem;
}

#sidebar .side_top li,
#sidebar .side_bottom li {
    display: flex;
    justify-content: center;
}

#sidebar .side_top ul {
    margin-top: 1rem;
}

#sidebar .side_bottom ul {
    margin-bottom: 1rem;
}

#sidebar .side_bottom li:first-child {
    padding-top: 1rem;
}

#sidebar .side_bottom li:last-child {
    padding-top: .75rem;
}

#sidebar .side_middle .tertiary_btn {
    margin-right: .5rem;
    vertical-align: middle;
}

#sidebar .logo {
    width: 40px;
    margin-bottom: 1rem;
}

#sidebar .svg_icon {
    width: 1.5rem;
}

#sidebar .svg_icon path {
    fill: var(--tertiary);
}

#sidebar .side_bottom li:last-child .svg_icon {
    background-color: var(--tertiary);
    border-radius: 50%;
    padding: 1rem;
    background-image: url(./../img/profile.svg);
    background-position: center;
}

#sidebar .side_top li:nth-child(2) .svg_icon path {
    fill: var(--light);
}

/* #endregion sidebar */

/* #region main_container */

#main_container {
    width: calc(100% - 60px);
    overflow-y: auto;
}

/* #endregion main_container */

/* #endregion app_main */

/* #region app_footer */

#app_footer {
    height: 100px;
}

/* #endregion app_footer */

/* #endregion main */

/* #region responsive */

/* #region sm_mobile */

@media screen and (min-width: 480px) {
    #sidebar {
        width: 250px;
    }

    #main_container {
        width: calc(100% - 250px);
    }

    #app_main .banner {
        width: calc(100% - .8rem);
    }    

    #sidebar .side_top,
    #sidebar .side_bottom
    {
        align-items: self-start;
    }  

    #sidebar .side_middle {
        flex-grow: 3;
    }

    #sidebar .side_middle.visibility_none {
        display: block;
    }

    #sidebar .side_top li,
    #sidebar .side_bottom li
    {
        display: flex;
        justify-content: flex-start;
    }

    #sidebar .logo {
        width: 120px;
    }

    .side_top .logo.visibility {
        display: none;
    } 
    
    .side_top .logo.visibility_none {
        display: block;
    } 

    .side_top .visibility_none,
    .side_bottom .visibility_none 
    {
        display: inline-block;
    }

    .svg_icon
    {
        margin-right: .75rem;
    }

    .side_top li,
    .side_middle
    {
        padding-left: 1rem;
    }

    .side_bottom li {
        margin: 0 1rem;
    }

    .side_top li>span,
    .side_middle li>span,
    .side_bottom li>span
    {
        align-self: center;
    }

    .side_middle {
        line-height: 2rem;
        overflow-y: auto;
    }

    .side_middle .tertiary_btn {
        margin: .75rem 0;
    }

    .side_top li:nth-child(2) {
        border-left: 3px solid var(--special);
    }

    .side_bottom li:last-child {
        border-top: 1px solid var(--tertiary);
    }
}

/* #endregion sm_mobile */

/* #region md_tablet */

@media screen and (min-width: 768px) {
    .col_md_3 {
        width: calc(100% / 12 * 3);
    }

    .col_md_6 {
        width: calc(100% / 12 * 6);
    }
}

/* #endregion md_tablet */

/* #region lg_desktop */

@media screen and (min-width: 1200px) {
    .col_lg_2 {
        width: calc(100% / 12 * 2);
    }
}

/* #endregion lg_desktop */

/* #endregion responsive */
