@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

/* #region common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --dark: #000000;
    --light: #fefffe;
    --primary: #151822;
    --secondary: #292928;
    --tertiary: #a2a3a2;
    --special: #adff2f;
    /* Font_Family */
    --ff-opensans: 'Open Sans', sans-serif;
}

/* #endregion common */

/* #region debug */

/* #endregion debug */

/* #region utilities */

/* #endregion utilities */

/* #region main */

#app_main {
    background-color: var(--primary);
}

#sidebar {
    background-color: var(--dark);
}

#app_footer {
    background-color: var(--secondary);
}

/* #region app_main */

#app_main {
    height: calc(100vh - 100px);
}

/* #region sidebar */

#sidebar {
    height: 100%;
    width: 60px;
}

/* #endregion sidebar */

/* #endregion app_main */

/* #region app_footer */

#app_footer {
    height: 100px;
}

/* #endregion app_footer */

/* #endregion main */

/* #region responsive */

/* #region sm_mobile */

@media screen and (min-width: 480px) {
    #sidebar {
        width: 250px;
    }
}

/* #endregion sm_mobile */

/* #region md_tablet */

@media screen and (min-width: 768px) {
    
}

/* #endregion md_tablet */

/* #region lg_desktop */

@media screen and (min-width: 1200px) {
    
}

/* #endregion lg_desktop */

/* #endregion responsive */
